<mat-card>
  <mat-card-content class="list-container">
    <p><button mat-flat-button color="basic" (click)="navigateToRoute('tasks')">Em atendimento</button></p>
    <p><button mat-flat-button color="basic">Aguardando atendimento</button></p>
    <p><button mat-flat-button color="basic">Atendentes disponíveis</button></p>
    <p><button mat-flat-button color="basic">Implantações</button></p>
    <p><button mat-flat-button color="basic">Em viagem</button></p>
    <p><button mat-flat-button color="basic" (click)="navigateToRoute('new')">Cadastrar</button></p>
  </mat-card-content>
</mat-card>
