<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-card>
      <mat-card-content>

      <h2>Menu</h2>

      <p>Tarefas em atendimento</p>
      <p>Agurdando atendimento</p>
      <p>Atendentes disponíveis</p>
      <p>Adicionar tarefa</p>


      <button mat-raised-button>
       Teste
      </button>

     </mat-card-content>
    </mat-card>
  </mat-drawer>


      <mat-toolbar>Working</mat-toolbar>

      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Navegação lateral toggle
        </button>
      </div>


</mat-drawer-container>


